.background{
    height:100vh;
    background: radial-gradient(ellipse at top left, #5f2c82, transparent),                radial-gradient(ellipse at bottom right, #49a09d, transparent);
    color:white;
}